<div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="bg-light lter b-b wrapper-md">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <h1 class="m-n font-thin h3 text-black" compile="::llCtrl.view.title()">
                    {{ ::llCtrl.view.entity.label() | humanize | pluralize | translate }} {{ 'LIST' | translate }}
                    </h1>
                <small class="text-muted lead" ng-if="::llCtrl.view.description()" compile="::llCtrl.view.description()">{{ ::llCtrl.view.description() }}</small>
            </div>
        </div>
        <ma-view-actions override="::llCtrl.actions" selection="selection" batch-buttons="::llCtrl.batchActions" entity="::llCtrl.entity" datastore="::llCtrl.dataStore" search="::llCtrl.search" filters="::llCtrl.filters" enabled-filters="llCtrl.enabledFilters"
            enable-filter="llCtrl.enableFilter">
            <ma-filter-button filters="filters()" enabled-filters="enabledFilters" enable-filter="enableFilter()"></ma-filter-button>
            <ma-view-batch-actions buttons="::batchButtons()" selection="selection" entity="::entity"></ma-view-batch-actions>
            <ma-export-to-csv-button entity="::entity" datastore="::datastore"></ma-export-to-csv-button>
            <ma-create-button ng-if="::entity.creationView().enabled" entity="::entity"></ma-create-button>
        </ma-view-actions>
        <ma-filter-form ng-if="llCtrl.hasFilters" filters="llCtrl.enabledFilters" values="llCtrl.search" datastore="::llCtrl.dataStore" remove-filter="::llCtrl.removeFilter"></ma-filter-form>
    </div>
</div>
<div ui-view="grid"></div>